<div id="body">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="padding-bottom: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Indexação de documentos clínicos</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Procurar por..." id="contId" value="@ViewBag.searchModel.SearchTerm"/>
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button" value="Search" onclick="find();">Procurar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 150px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group" id="contribution">@Html.Partial("ResultsPartial")</div>
                </div>
            </div>
            <div class="row">
                <div id="pagination" class="col-md-12">
                    @if (ViewBag.searchModel.TotalResults != 0 && ViewBag.searchModel.NumberOfPages > 1)
                    {
                        <ul class="pagination">
                            @{
                                if (ViewBag.searchModel.Page!=0){
                                    <li><a class="pg" href="javascript:void(0)" id="@ViewBag.searchModel.PreviousPage" onclick="changePage(@ViewBag.searchModel.PreviousPage);">Anterior</a></li>
                                }
                                for (int i = ViewBag.searchModel.StartPage+1; i <= ViewBag.searchModel.LastPage+1; i++)
                                {
                                            <li><a class="pg" href="javascript:void(0)" id="@i" onclick="changePage(@i);">@i</a></li>
                                }
                                if(ViewBag.searchModel.Page!=ViewBag.searchModel.NumberOfPages-1){
                                    <li><a class="pg" href="javascript:void(0)" id="@ViewBag.searchModel.NextPage" onclick="changePage(@ViewBag.searchModel.NextPage);">Próximo</a></li>
                                }
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                $("#contId").keypress(function (event) {
                    if (event.keyCode == 13) {
                        $("#searchBtn").click();
                    }
                });
                $("#contId").keyup(function () {
                    if (!this.value) {
                        $('#contribution').html("");
                        $('#pagination').html("");
                    }
                });
            });

            function find() {
                var id = $('#contId').val();
                if (id != "") {
                    var actionUrlBase = '@Url.Action("Search", "Home", new { id = "__id__", page = 1 })';
                    var actionUrl = actionUrlBase.replace("__id__", id);
                    location.href = actionUrl;
                } else {
                    var actionUrlBase = '@Url.Action("Index", "Home")';
                    location.href = actionUrlBase;
                }
            }

            function changePage(pg) {
                var actionUrlBase = '@Url.Action("Search", "Home", new { id = ViewBag.searchModel.SearchTerm, page = "__page__" })';
                var actionUrl = actionUrlBase.replace("__page__", pg);
                location.href = actionUrl;
            }
        </script>
    }
    
</div>
