@model IndexDocClinicos.Models.SearchView

@if (Model.TotalResults != 0 && Model.NumberOfPages > 1)
{
    <ul class="pagination">
        @{
            if (Model.Page!=0){
                <li class="page-item">
                    <a class="page-link pg" href="javascript:void(0)" id="@Model.PreviousPage" onclick="find(@Model.PreviousPage);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            for (int i = Model.StartPage+1; i <= Model.LastPage+1; i++)
            {
                if(Model.Page+1!=i){
                    <li><a class="pg" href="javascript:void(0)" id="@i" onclick="find(@i);">@i</a></li>
                }else{
                    <li class="active"><a class="pg" id="@i" onclick="find(@i);">@i</a></li>
                }
            }
            if(Model.Page!=Model.NumberOfPages-1){
                <li class="page-item">
                    <a class="page-link pg" href="javascript:void(0)" id="@Model.NextPage" onclick="find(@Model.NextPage);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        }
    </ul>
}