@model IndexDocClinicos.Models.SearchView

@try
{
    if (Model.Results.Count != 0)
    {
        foreach (var cont in Model.Results)
        {
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <b>@cont["first_name"] @cont["last_name"] - @cont["dob"]</b><br/>
                    <small> @Html.Raw(cont["text"])</small>
                    <a href="@cont["documento_url"]">Documento</a>
                        - 
                    @Html.ActionLink("Informação Demográfica", "Metadata", "Home", new { id = cont["version"] }, null)
                </div>
            </div>
        }
    }
    else
    {
        <h5>Nenhum resultado encontrado</h5>
    }
}
catch (NullReferenceException)
{
    <h5>Nenhum resultado encontrado</h5>
}
